<main class="main">
    <section class="section-1-header">
        <h3>Produtos</h3>
        <div class="btn-header">
            <div class="search-group">
                <div class="input-false-div">
                    <input type="text" placeholder="Pesquisar Produto" [(ngModel)]="searchTerm">
                </div>

                <button class="btn-search btn" (click)="filterProduct()">Buscar</button>
            </div>
            
            <div class="btn-header-productList">
                <!-- <button class="btn-filter btn"><mat-icon>filter_list</mat-icon> Filtros</button> -->
                <button class="btn-add btn" routerLink="/productAdd"><mat-icon>add</mat-icon>Adicionar</button>
            </div>
        </div>
    </section>

    <section class="section-2-table">
        <table class="table-productList">
            <thead class="table-header">
                <tr id="tr-header">
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Unidade</th>
                    <th>Preço</th>
                    <th>Data de Criação</th>
                    <th>Responsável</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody class="table-tbody" *ngFor="let product of dataSource.connect() | async">
                <tr>
                    <td> {{ product.code }} </td>
                    <td matTooltipClass="tooltip-productList" matTooltipPosition="above" matTooltip="{{product.name}}"> {{ product.name }} </td>
                    <td> {{ product.category?.name }} </td>
                    <td> {{ product.quantity }} </td>
                    <td> R$ {{ product.price }} </td>
                    <td> {{ product.dateCreate }} </td>
                    <td  matTooltipClass="tooltip-productList" matTooltipPosition="above" matTooltip="{{product.responsible?.name}}"> {{ product.responsible?.name }} </td>
                    <td class="btn-action btn">
                        <mat-icon id="btn-edit" routerLink="/productEdit">edit</mat-icon>
                        <mat-icon id="btn-delete" (click)="openDeleteModal(product)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="container-oculto" *ngIf="!hasProducts">
        <div class="box-oculto">
            <h3>Sua prateleira digital está vazia no momento</h3>
            <p>Cadastre um item para começar a gerenciar seu estoque</p>
        </div>
    </section>

    <section class="container-pesquisa container-oculto" *ngIf="dataSource.data.length === 0 && isFiltered">
        <div class="box-oculto">
            <h3>Não encontrado na Lista</h3>
        </div>
    </section>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</main>
<app-product-delete   [isOpen]="isDeleteOpen" [product]="selectedProduct" (closeModal)="isDeleteOpen = false" (productDeleted)="loadProducts()"></app-product-delete>