
$bgMain: #f5f7fa;
$card: #ffffff;
$line: #e5e7eb;
$theader: #f8f7f8;

$textMain: #1f2937;
$textSecudanry: #6b7280;

$hoverBlue: #3b82f6;
$BlueDark: #2563eb;

$disabled: #e4e4e4;

$success: #22c55e;
$success-hover: #16a34a;
$success-dark: #15803d;
$message-sucess: #77d662;

$gray: #6b7280;
$gray-light: #9ca3af;
$gray-dark: #4b5563;

$del: #d32f2f;
$delHover: #b02a37;
$message-delete: #fb8b64;

$edit: #f9a825;
$editHover: #e0a800;