<main class="main">
    <section class="section-1-header">
        <h3>Categorias</h3>
        <div class="btn-header">
            <div class="search-group">
                <div class="input-false-div">
                    <input type="text" placeholder="Pesquisar Categoria" [(ngModel)]="searchTerm">
                </div>

                <button class="btn-search btn" (click)="filterCategory()">Buscar</button>
            </div>
            
            <div class="btn-header-productList">
                <!-- <button class="btn-filter btn"><mat-icon>filter_list</mat-icon> Filtros</button> -->
                <button class="btn-add btn" (click)="showModal()"><mat-icon>add</mat-icon>Adicionar</button>
            </div>

        </div>
    </section>

    <section class="section-2-table">
        <table class="table-productList">
            <thead class="table-header">
                <tr id="tr-header">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody class="table-tbody">
                <tr  *ngFor="let category of dataSource.connect() | async">
                    <td> {{ category.id }} </td>
                    <td> {{ category.name }} </td>
                    <td class="btn-action btn">
                        <mat-icon id="btn-edit">edit</mat-icon>
                        <mat-icon id="btn-delete" (click)="openDeleteModal(category)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="container-oculto" *ngIf="!hasCategory">
        <div class="box-oculto">
            <h3>Lista de Categoria está vazia no momento</h3>
            <p>Cadastre uma categoria para começar a gerenciar seu estoque</p>
        </div>
    </section>

    <section class="container-pesquisa container-oculto" *ngIf="dataSource.data.length === 0 && isFiltered">
        <div class="box-oculto">
            <h3>Não encontrado na Lista</h3>
        </div>
    </section>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</main>

 <app-category-add-modal (categoryEmit)="categoryList()" [isOpen]="open" (closeModal)="closeModal()"></app-category-add-modal>
 <app-category-delete [isOpen]="isDeleteOpen" [category]="selectedCategory" (closeModal)="isDeleteOpen = false" (categoryDeleted)="categoryList()"></app-category-delete>