<!-- <mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </a>
      <a mat-list-item>
        <mat-icon>inventory</mat-icon>
        <span>Produtos</span>
      </a>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item>
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administração</span>
      </a>
      <a mat-list-item>
        <mat-icon>history</mat-icon>
        <span>Log</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->