/* You can add global styles to this file, and also import other style files */
@use "styles/variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: "Poppins", sans-serif;
    
}

body {
    background-color: var.$bgMain;
}

// .main {
//     margin: 0 100px 0 100px;
// }7
.tooltip-productList {
  background-color: var.$line;
  border-radius: 2px;
  color: var.$textMain;
  font-size: 14px;
  max-width: 300px;
  width: auto;
  white-space: normal;
}

#btn-delete {
    color: var.$del;
    margin-left: 15px;
    cursor: pointer;

    &:hover {
        color: var.$delHover;
    }
}

#btn-edit {
    color: var.$edit;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
        color: var.$editHover;
    }
}

.mat-mdc-paginator {
    margin-top: 1.5rem;
    background-color: transparent !important;
}

.mat-mdc-paginator .mat-mdc-form-field {
    background-color: initial !important;
}

.mat-mdc-paginator .mat-mdc-text-field-wrapper {
    background-color: white !important;
}

.user-mat {
    color: var.$textSecudanry;
    font-size: 16px;
    margin-left: .5rem;
    align-items: center;
}

.spin {
  animation: spin 1s linear infinite;
  color: var.$card;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}