<header class="headerBar">
  <nav class="headerBar-navbar">
    <div class="headerBar-navbar-log">
        <div class="headerBar-navbar-img">
            <img src="" alt="Logo">
        </div>
        <h2>Alidi Stock</h2>
    </div>

    <ul class="headerBar-navbar-dropdown">
        <li class="hover-item"><a routerLink="/adm/users">Administração</a></li>
        <!-- <li class="hover-item"><a routerLink="/log">Log</a></li> -->
        <li class="hover-item"><a routerLink="/">Produtos</a></li>
    </ul>

    <div class="headerBar-perfil"  (click)="toggleDropdownImg()">
        <div class="headerBar-perfil-img">
            <img src="" alt="perfil">
        </div>
        <app-dropdown
          [items]="perfilItems"
          class="perfil-dropdown"
          [isOpen]="dropdownOpenImg"
          (itemClicked)="onDropdownItemClicked($event)">
        </app-dropdown>
    </div>
  </nav>
</header>